<div class="ax-affix-area"
     data-ax-affix
     data-ax-affix-offset-top="100">
   <div class="ax-button-wrapper form-inline">

      <div class="form-group form-group-sm">
         <label data-ax-for="'search'"><small>Filters:</small></label>
         <input class="form-control input-sm"
                placeholder="Search (RegExp)"
                data-ax-id="'search'"
                data-ng-model="model.settings.namePattern">

         <label data-ax-for="'limit'"><small>Limit:</small></label>
         <input class="form-control input-sm"
                data-ax-input="integer"
                data-ng-model-options="{ updateOn: 'default' }"
                data-ax-input-minimum-value="0"
                data-ax-input-maximum-value="features.events.bufferSize"
                placeholder="0-{{ features.events.bufferSize }}"
                maxlength="4"
                data-ax-id="'limit'"
                data-ng-model="model.settings.visibleEventsLimit">
      </div>

      <!-- Filters menu -->
      <div class="btn-group btn-group-sm"
           data-ng-class="{ 'open': view.showPatterns }"
           data-ng-mouseenter="view.showPatterns = true"
           data-ng-mouseleave="view.showPatterns = false">
         <button type="button"
                 class="btn btn-default dropdown-toggle"
                 data-toggle="dropdown"
                 aria-expanded="{{ view.showPatterns }}">
            More <span class="caret"></span>
         </button>
         <div class="dropdown-menu container col-lg-6" role="menu">

            <div class="row">
               <div class="ax-event-settings-col first">
                  <h4>Patterns</h4>
                  <div data-ng-repeat="pattern in model.patterns track by pattern.name">
                     <button
                        type="button"
                        class="btn btn-link ax-event-setting-toggle"
                        data-ng-click="model.settings.patterns[ pattern.name ] = !model.settings.patterns[ pattern.name ]">
                        <span class="ax-event-pattern" data-ng-bind-html="pattern.htmlIcon"></span>
                        {{ pattern.name }}
                        <i class="fa pull-right ax-event-setting-toggle"
                           data-ng-class="{ 'fa-toggle-off': !model.settings.patterns[ pattern.name ], 'fa-toggle-on': model.settings.patterns[ pattern.name ] }"></i>
                     </button>
                  </div>
               </div>

               <div class="ax-event-settings-col last">
                  <h4>Interactions</h4>
                  <div data-ng-repeat="(interaction, enabled) in model.settings.interactions track by interaction">
                     <button
                        type="button"
                        class="btn btn-link ax-event-setting-toggle"
                        data-ng-click="model.settings.interactions[ interaction ] = !enabled"
                        >{{ interaction }}<i class="fa pull-right ax-event-setting-toggle"
                                        data-ng-class="{ 'fa-toggle-off': !enabled, 'fa-toggle-on': enabled }"></i>
                     </button>
                  </div>

                  <h4>Sources</h4>
                  <div data-ng-repeat="(source, enabled) in model.settings.sources track by source">
                     <button
                        type="button"
                        class="btn btn-link ax-event-setting-toggle"
                        data-ng-click="model.settings.sources[ source ] = !enabled"
                        >{{ source }}<i class="fa pull-right ax-event-setting-toggle"
                                        data-ng-class="{ 'fa-toggle-off': !enabled, 'fa-toggle-on': enabled }"></i>
                     </button>
                  </div>
               </div>

            </div>

            <div class="row">
               <div class="ax-event-settings-col first">&nbsp;</div>
               <div class="ax-event-settings-col last">
                  <div class="pull-right">
                     <button type="button" class="btn btn-xs btn-primary" data-ng-click="commands.setAll( true )">All On</button>
                     <button type="button" class="btn btn-xs btn-primary" data-ng-click="commands.setAll( false )">All Off</button>
                     <button type="button" class="btn btn-xs" data-ng-click="commands.setDefaults()">Defaults</button>
                  </div>
               </div>
            </div>

         </div>
      </div>

      <button class="btn btn-primary btn-sm"
              type="button"
              data-ng-class="{ 'ax-disabled': !model.eventInfos.length }"
              data-ng-click="commands.discard()">Discard Events</button>
   </div>
</div>

<div data-ng-if="!model.eventInfos.length"
     class="text-large">
   <h4 class="text-primary">Empty Events List</h4>
   <p><i class="fa fa-clock-o"></i> Waiting for events from host application...</p>
</div>

<div data-ng-if="model.eventInfos.length && !model.visibleEventInfos.length"
     class="text-large">
   <h4 class="text-primary">0/{{ model.eventInfos.length }} Event Items</h4>
   <p>No events matching current filters.</p>
   <p><button type="button" class="btn btn-sm btn-primary" data-ng-click="commands.clearFilters()">Show All</button></p>
</div>

<div data-ng-if="model.visibleEventInfos.length"
     class="text-large">
   <h4 class="text-primary">{{ model.visibleEventInfos.length }}/{{ model.eventInfos.length }} Events</h4>
</div>


<table data-ng-if="model.visibleEventInfos.length"
       class="table">
   <colgroup>
      <col class="ax-col-pattern-icon">
      <col class="ax-col-interaction">
      <col class="ax-col-payload-icon">
      <col class="ax-col-name">

      <col class="ax-col-cycle">
      <col class="ax-col-source">
      <col class="ax-col-target">
      <col class="ax-col-timestamp">
   </colgroup>
   <thead>
      <tr>
         <th>&nbsp;</th>
         <th>Action</th>
         <th>&nbsp;</th>
         <th>Event Name</th>

         <th class="text-right">Cycle</th>
         <th>Source</th>
         <th>Target</th>
         <th class="text-right">Timestamp</th>
      </tr>
   </thead>
   <tbody data-ng-repeat="event in model.visibleEventInfos"
          data-ng-class="'ax-event-interaction-' + event.interaction + ( event.selected ? ' ax-event-selected' : '' )"
          data-ng-click="commands.select( event )">
      <tr class="ax-event-summary">
         <td class="ax-col-pattern-icon"
             title="{{ event.pattern }}"
             data-ng-bind-html="view.patternsByName[ event.pattern ].htmlIcon"></td>
         <td class="ax-col-interaction"><em>{{event.interaction}}</em></td>
         <td>
            <button type="button" class="btn-link"
                    data-ng-if="event.interaction == 'publish' && !event.showDetails"
                    data-ng-click="event.showDetails = true; $event.stopPropagation();"><i class="fa fa-plus-square">&nbsp;</i></button>
            <button type="button" class="btn-link"
                    data-ng-if="event.interaction == 'publish' && event.showDetails"
                    data-ng-click="event.showDetails = false; $event.stopPropagation();"><i class="fa fa-minus-square" >&nbsp;</i></button>
         </td>
         <td data-ng-bind-html="event.htmlName"></td>

         <td class="ax-col-cycle text-right">{{event.cycleId}}</td>
         <td data-ng-bind-html="event.htmlSource"></td>
         <td data-ng-bind-html="event.htmlTarget"></td>
         <td class="text-right">{{event.formattedTime}}</td>
      </tr>
      <tr class="ax-event-payload"
          data-ng-if="event.showDetails">
         <td colspan="3"></td>
         <td colspan="5" ><pre>{{event.formattedEvent}}</pre></td>
      </tr>
   </tbody>
</table>
