@charset "UTF-8";

@import "variables_all";

.ax-log-display-widget {

   .affix {
      top: 0;
      left: 0;
      right: 0;
      background-color: rgba(255, 255, 255, 0.8);
      border-bottom: 1px solid #CCC;
      box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);

      .ax-button-wrapper {
         margin: 0 auto;
         padding: 20px 37px 0;

         @media (min-width: $screen-sm-min) {
            width: $container-sm;
         }
         @media (min-width: $screen-md-min) {
            width: $container-md;
         }
         @media (min-width: $screen-lg-min) {
            width: $container-lg;
         }
      }
   }

   .ax-affix-area {
      text-align: right;
      padding-bottom: $ax-unit-vertical-double
   }

   .table {
      table-layout: fixed;

      > thead > tr {
         > th:nth-child(1) { width: 100px; }
         > th:nth-child(2) {

            @media (min-width: $screen-md-min) {
               width: 380px;
            }

            @media (min-width: $screen-lg-min) {
               width: 580px;
            }
         }
         > th:nth-child(4) { width: 180px; }
      }

      > tbody:nth-of-type( even ) td {
         background-color: $gray-lighter;
      }

      td {
         word-wrap: break-word;
         font-size: 12px;
      }
   }
}
