<div class="row text-right">
   <button class="btn btn-link"
           type="button"
           data-ng-if="resources.grid"
           data-ng-click="toggleGrid()"
      ><i class="fa"
          data-ng-class="{ 'fa-toggle-off': !model.gridOverlay, 'fa-toggle-on': model.gridOverlay }"
      ></i>&nbsp;{{model.gridOverlay ? 'Turn off grid overlay' : 'Turn on grid overlay'}}</button>
   <button class="btn btn-link"
           type="button"
           data-ng-click="toggleWidgetOutline()"
      ><i class="fa"
          data-ng-class="{ 'fa-toggle-off': !model.widgetOverlay, 'fa-toggle-on': model.widgetOverlay }"
      ></i>&nbsp;{{model.widgetOverlay ? 'Turn off widget outline' : 'Turn on widget outline'}}</button>
</div>
