.ax-events-display-widget .affix {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.ax-events-display-widget .affix .ax-button-wrapper {
  margin: 0 auto;
  padding: 20px 37px 0;
}
@media (min-width: 768px) {
  .ax-events-display-widget .affix .ax-button-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .ax-events-display-widget .affix .ax-button-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .ax-events-display-widget .affix .ax-button-wrapper {
    width: 1170px;
  }
}
.ax-events-display-widget [data-ax-id="'limit'"] {
  width: 60px;
  text-align: right;
}
.ax-events-display-widget .fa-toggle-on {
  color: #5cb85c;
}
.ax-events-display-widget .fa-toggle-off,
.ax-events-display-widget .fa-toggle-on {
  margin-left: -30px;
}
.ax-events-display-widget .dropdown-menu {
  margin: 0;
  right: 0;
  left: auto;
  min-width: 400px;
  max-width: 430px;
  padding: 0 30px 30px;
}
.ax-events-display-widget .ax-event-settings-col {
  float: left;
  width: 170px;
}
.ax-events-display-widget .ax-event-settings-col {
  margin-top: 30px;
  margin-right: 30px;
}
.ax-events-display-widget .ax-event-settings-col.last {
  margin-right: -30px;
}
.ax-events-display-widget button.ax-event-setting-toggle {
  text-align: left;
  width: 170px;
  border-bottom: 1px solid #ddd;
}
.ax-events-display-widget button.ax-event-setting-toggle:hover,
.ax-events-display-widget button.ax-event-setting-toggle:active {
  text-decoration: none;
}
.ax-events-display-widget .ax-event-pattern {
  display: inline-block;
  width: 18px;
}
.ax-events-display-widget i.ax-event-setting-toggle {
  width: 18px;
  padding-top: 3px;
}
.ax-events-display-widget .ax-affix-area {
  text-align: right;
  padding-bottom: 20px;
}
.ax-events-display-widget colgroup .ax-col-pattern-icon {
  width: 32px;
}
@media (min-width: 992px) {
  .ax-events-display-widget colgroup .ax-col-interaction {
    width: 90px;
  }
}
.ax-events-display-widget colgroup .ax-col-payload-icon {
  width: 24px;
}
@media (min-width: 992px) {
  .ax-events-display-widget colgroup .ax-col-name {
    width: 250px;
  }
}
.ax-events-display-widget colgroup .ax-col-cycle {
  width: 60px;
}
@media (min-width: 992px) {
  .ax-events-display-widget colgroup .ax-col-source,
  .ax-events-display-widget colgroup .ax-col-target {
    width: 135px;
  }
}
@media (min-width: 1200px) {
  .ax-events-display-widget colgroup .ax-col-source,
  .ax-events-display-widget colgroup .ax-col-target {
    width: 255px;
  }
}
.ax-events-display-widget colgroup .ax-col-timestamp {
  width: 100px;
}
.ax-events-display-widget .table {
  table-layout: fixed;
}
.ax-events-display-widget .table tbody, .ax-events-display-widget .table tr, .ax-events-display-widget .table td {
  border: none;
}
.ax-events-display-widget .table tbody.ax-event-interaction-publish {
  background: #f9f9f9;
}
.ax-events-display-widget .table tbody.ax-event-interaction-publish td.ax-col-interaction {
  font-weight: bold;
}
.ax-events-display-widget .table tbody.ax-event-interaction-subscribe,
.ax-events-display-widget .table tbody.ax-event-interaction-unsubscribe {
  color: #999;
}
.ax-events-display-widget .table tr.ax-event-summary td {
  border-top: 1px solid #ddd;
}
.ax-events-display-widget .table tr.ax-event-payload > td {
  padding-top: 0;
  padding-right: 0;
  padding-bottom: 0;
}
.ax-events-display-widget .table td.ax-col-pattern-icon {
  background: #eee;
  color: #aaa;
  text-align: center;
  font-size: 14px;
  padding-top: 7px;
  cursor: default;
}
.ax-events-display-widget .table tbody tr.ax-event-summary:hover td {
  background: #428bca;
}
.ax-events-display-widget .table tbody tr.ax-event-summary:hover td,
.ax-events-display-widget .table tbody tr.ax-event-summary:hover td * {
  color: white;
}
.ax-events-display-widget .table tbody tr:hover td.ax-col-pattern-icon {
  background: #3071a9;
}
.ax-events-display-widget .table tbody.ax-event-selected tr.ax-event-summary td {
  border-top-color: #428bca;
}
.ax-events-display-widget .table tbody.ax-event-selected tr {
  background: #d1e0ee;
}
.ax-events-display-widget .table tbody.ax-event-selected tr.ax-event-payload:hover td {
  background: #d1e0ee;
  color: #428bca;
}
.ax-events-display-widget .table tbody.ax-event-selected td.ax-col-pattern-icon {
  background: #abc8e0;
}
.ax-events-display-widget .table tbody.ax-event-selected td.ax-col-cycle {
  font-weight: bold;
}
.ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-publish, .ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-deliver, .ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-publish .ax-col-pattern-icon, .ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-deliver .ax-col-pattern-icon {
  color: #428bca;
}
.ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-subscribe, .ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-unsubscribe, .ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-subscribe .ax-col-pattern-icon, .ax-events-display-widget .table tbody.ax-event-selected.ax-event-interaction-unsubscribe .ax-col-pattern-icon {
  color: #6688a6;
}
.ax-events-display-widget .table td.ax-col-cycle {
  text-align: right;
}
.ax-events-display-widget .table td {
  word-wrap: break-word;
  font-size: 12px;
}
.ax-events-display-widget .table td .btn-link {
  border-top: 0;
  padding-top: 0;
}
.ax-events-display-widget .table td b {
  color: #449d44;
  text-decoration: underline;
}
.ax-events-display-widget .table pre {
  margin: 0;
  border: none;
  -webkit-border-radius: 0;
          border-radius: 0;
  background: inherit;
  padding: 1em 0;
  font-family: monospace;
  font-size: 12px;
  max-height: 0;
  -webkit-animation: show-pre-animation .3s ease forwards;
     -moz-animation: show-pre-animation .3s ease forwards;
          animation: show-pre-animation .3s ease forwards;
}
@-webkit-keyframes show-pre-animation {
  from {
    max-height: 0;
  }
  to {
    max-height: 400px;
  }
}
@-moz-keyframes show-pre-animation {
  from {
    max-height: 0;
  }
  to {
    max-height: 400px;
  }
}
@keyframes show-pre-animation {
  from {
    max-height: 0;
  }
  to {
    max-height: 400px;
  }
}
.ax-events-display-widget .fa-folder-close,
.ax-events-display-widget .fa-folder-open {
  cursor: pointer;
}
