.ax-log-display-widget .affix {
  top: 0;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255, 0.8);
  border-bottom: 1px solid #CCC;
  -webkit-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
}
.ax-log-display-widget .affix .ax-button-wrapper {
  margin: 0 auto;
  padding: 20px 37px 0;
}
@media (min-width: 768px) {
  .ax-log-display-widget .affix .ax-button-wrapper {
    width: 750px;
  }
}
@media (min-width: 992px) {
  .ax-log-display-widget .affix .ax-button-wrapper {
    width: 970px;
  }
}
@media (min-width: 1200px) {
  .ax-log-display-widget .affix .ax-button-wrapper {
    width: 1170px;
  }
}
.ax-log-display-widget .ax-affix-area {
  text-align: right;
  padding-bottom: 20px;
}
.ax-log-display-widget .table {
  table-layout: fixed;
}
.ax-log-display-widget .table > thead > tr > th:nth-child(1) {
  width: 100px;
}
@media (min-width: 992px) {
  .ax-log-display-widget .table > thead > tr > th:nth-child(2) {
    width: 380px;
  }
}
@media (min-width: 1200px) {
  .ax-log-display-widget .table > thead > tr > th:nth-child(2) {
    width: 580px;
  }
}
.ax-log-display-widget .table > thead > tr > th:nth-child(4) {
  width: 180px;
}
.ax-log-display-widget .table > tbody:nth-of-type(even) td {
  background-color: #eeeeee;
}
.ax-log-display-widget .table td {
  word-wrap: break-word;
  font-size: 12px;
}
